@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#background-img {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 5%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.8) 100%
      ),
    url(/src/img/banner\ 1.png);
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}

#title-movie {
    cursor: pointer;
    width: 430px;
    margin-top: 120px;
    margin-left: 12px;
}

#description {
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.52px;
    text-align: left;
    margin-top: 20px;
    margin-left: 12px;
}

.btn {
    height: 2.2rem;
    width: 7rem;
    text-align: center;
    font-weight: 800;
    border-radius: 1px;
    border: none;
    margin-left: 12px;
    margin-top: 2rem;
    cursor: pointer;
}

#more-info{
    width: 12rem;
    background-color: rgba(128,128,128,0.7);
    color: white;
}

#navbar{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#logo{
    cursor: pointer;
    margin-right: 70px;
}

.nav-links{
    cursor: pointer;
    margin-top: 12px;
    text-decoration: none;
    color: white;
    margin-right: 1.2rem;

}

#utils{
    margin-left: 35rem;
}

.nav-utils{
    cursor: pointer;
    color: white;
    padding: 5px;
}

.category-my-list {
    height: 200px;
    margin-top: 35px;
    margin-left: 12px;
}
  
  .category__title {
    color: #e5e5e5e5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
}
  
  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}
  
  .item {
    padding: 0 2px;
    transition: 250ms all;
}
  
  .item img {
    max-width: 100%;
    padding-right: 5px;
}

  .category-my-list img{
    transition: transform 0.3s ease;
}

  .category-my-list img:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(80%);
}
footer {
    margin-top: 2rem;
  }
  
  .social-links {
    height: 25px;
    width: 50%;
  }
  
  .social-links i {
    font-size: 22px;
    margin-right: 1.5rem;
    cursor: pointer;
    color: white;
  }
  
  .link-content {
    margin: 20px auto;
    color: grey;
  }
  
  .link-content__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
  }
  
  .link-content__info ul {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    padding: initial;
  }
  
  .link-content__info ul li {
    list-style: none;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .link-content__info ul li:hover {
    text-decoration: underline;
  }
  
  .link-content__service {
    margin-bottom: 20px;
    font-size: 13px;
  }
  
  .link-content__service-code {
    background: 0 0;
    color: grey;
    border: solid 1px grey;
    padding: 0.5rem;
  }
  
  .link-content__service-code:hover {
    color: white;
    border: solid 1px white;
  }
  
  .link-content__copyright {
    font-size: 11px;
    margin-bottom: 15px;
    padding: 1rem 4px;
  }