body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 5%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.8) 100%
      ), 
    url(https://assets.nflxext.com/ffe/siteui/vlv3/655a9668-b002-4262-8afb-cf71e45d1956/f03ede97-7e65-4053-b4da-480b025206cb/BR-pt-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_1ef1fdd5-0083-4de7-b22d-e1a4ca70b4f5_medium.jpg);
    margin-left: 60px;
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}


#language{
    height: 2.2rem;
    width: 9rem;
    text-align: center;
    font-weight: 700;
    color: white;
    border: none;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#login {
    margin-left: 10px;
    height: 2rem;
    width: 4rem;
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
    margin-top: 220px;
    text-decoration: none;
    color: white;
}

#home h1 {
    font-size: 3.5rem;
}

#home p{
    font-size: x-large;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 8.8rem;
}

#create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 0.5;
    text-decoration: none;
    color: white;
}

#letsGo{
    color: white;
    background-color: red;
    border: none;
    text-align: center;
    width: 8rem;
    height: 2.3rem;
    margin-left: 8px;
    border-radius: 5px;
}

#email{
    background-color: rgba(0,0,0,0.8);
    border: none;
    text-align: center;
    width: 25rem;
    height: 2.2rem;
    margin-left: 8px;
    border-radius: 5px;
}

#email:focus{
    background-color: rgba(0,0,0);
    color: white;
    
}